/**
 * LocaleEditor Styles
 * 
 * Import this file in your application to get all required styles:
 * 
 * @example
 * import 'localeeditor/styles';
 * // or
 * import 'localeeditor/dist/index.css';
 */

/* LocaleEditor component styles */
@import './virtual-table-div.css';
@import './quick-search.css';
@import './status-bar.css';
@import './command-line.css';
@import './command-palette.css';
@import './help-modal.css';

